{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Admin Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{%static 'https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap' %}" rel="stylesheet">

	<link rel="stylesheet" href="{%static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	
	<link rel="stylesheet" href="{%static 'css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Admin Login</h2>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Admin Area</h3>
						<form class="login-form" method="POST" action="http://127.0.0.1:8000/superlogin/">
							{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" placeholder="EmpID" name=empid required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" placeholder="Password" name=passcode required>
	            </div>
	            <div class="form-group d-md-flex">
	            	
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Get Started</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>


		{% if error %}
            	<ul>
					{% for err in error %}
					<script>
      					alert("{{ err }}");</script>
					{% endfor %}
				</ul>
			{% endif %}



	</section>

	<script src="{%static 'js/jquery.min.js' %}"></script>
  <script src="{%static 'js/popper.js' %}"></script>
  <script src="{%static 'js/bootstrap.min.js' %}"></script>
  <script src="{%static 'js/main.js' %}"></script>

	</body>
</html>

