
{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>String Concatenation</title>
    <link href="{%static 'https://fonts.googleapis.com/css?family=Heebo:400,500,700|Playfair+Display:700' %}" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'dist/css/style.css' %}">
   
</head>
<body>


			<p class="hero-paragraph">FirstName:{{person.name}}  </p>
							
						




 

</body>
</html>
